bin/
dist/
coverage.out

# Dependency vendors
vendor/

# Executables and tests
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Logs and temp files
*.log
*.tmp
*.swp
*.swo
*~

# Tooling artifacts
cloud-provider-kind.log
kubeconfig

# IDE/editor metadata
.idea/
.vscode/

# Operating system files
.DS_Store
Thumbs.db
ehthumbs.db

# tmp/ignore folders
tmp/
ignore/
